img{
  width: 120px;
  height: 120px;
}
a:hover{
  background-color: #656cb1;
}
nav, footer{
  background-color: #8a92dd;
}

h1, h2, h3, h4, h5, h6 {
  color: #2D336B;
}

body {
  background-color: #FFF2F2;
}
