img{
  width: 120px;
  height: 120px;
}
nav{
  background-color: #8a92dd;
}
footer{
  background-color: #8a92dd;
}
h1 {
  color: #2D336B;
}
h2 {
  color: #7886C7;
}
body {
  background-color: #FFF2F2;
}
.small-plates{
  background-color: #A9B5DF;
}